//======================
.main {
  @include adaptiveValue("padding-top", 90, 20);
  @include adaptiveValue("padding-bottom", 50, 20);
  // .main__container

  &__container {
    display: flex;
    @include adaptiveValue("gap", 30, 10);
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  // .main__content

  &__content {
    display: flex;
    flex-direction: column;
    flex: 50%;
    @include adaptiveValue("gap", 30, 15);
    @include adaptiveValue("padding-top", 120, 10);
    @include adaptiveValue("padding-bottom", 120, 10);
    color: #ffffff;
  }

  // .main__title

  &__title {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/main-decor.png");
      @include adaptiveValue("width", 120, 40);
      @include adaptiveValue("height", 120, 40);
      top: rem(-10);
      left: rem(-30);
      @media (max-width: $mobile) {
        top: rem(-8);
        left: rem(-10);
      }
    }
  }

  // .main__text

  &__text {
  }

  // .main__buttons

  &__buttons {
    display: inline-flex;
    gap: rem(30);
    @media (max-width: $mobile) {
      flex-direction: column;
      gap: rem(15);
    }
  }

  // .main__media

  &__media {
  }
}
.black {
}
.main-media {
  display: flex;
  justify-content: space-between;
  gap: rem(20);
  flex: 50%;
}
.left-media {
  display: flex;
  flex-direction: column;
  flex: 50%;
  max-width: rem(242);
  margin: 0 auto;
  @media (max-width: $tablet) {
    max-width: rem(300);
  }
  // .left-media__image-ibg

  &__image-ibg {
    // display: flex;
    overflow: hidden;
    max-width: rem(260);
    &:first-child {
      padding-bottom: 175%;
      margin-bottom: rem(30);
      border-radius: rem(378);
    }
    &:last-child {
      padding-bottom: 100%;
      border-radius: rem(378) rem(378) 0 rem(378);
    }
  }
}
.right-media {
  flex: 50%;
  margin-right: rem(30);
  max-width: rem(242);
  margin: 0 auto;
  @media (max-width: $tablet) {
    max-width: rem(300);
  }

  // .right-media__image-ibg

  &__image-ibg {
    overflow: hidden;
    &:first-child {
      padding-bottom: 100%;
      margin-bottom: rem(30);
      border-radius: rem(378) 0 rem(378) rem(378);
    }
    &:last-child {
      padding-bottom: 175%;
      border-radius: rem(378);
    }
  }
}
//=======================
.brands {
  @include adaptiveValue("padding-top", 60, 15);
  @include adaptiveValue("padding-bottom", 60, 15);
  // .brands__container

  &__container {
  }

  // .brands__title

  &__title {
    text-align: center;
    font-size: rem(14);
    line-height: math.div(22, 14);
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: rem(25);
  }

  // .brands__items

  &__items {
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(170), 1fr));
    gap: rem(10);
    &::before {
      position: absolute;
      content: "";
      background: url("@img/brands/decor.png") center no-repeat;
      top: rem(-5);
      left: 1%;
      width: 10%;
      height: 120%;
      transform: rotate(180deg);
      @media (max-width: em(920)) {
        display: none;
      }
    }
    &::after {
      position: absolute;
      content: "";
      background: url("@img/brands/decor.png") center no-repeat;
      top: rem(-5);
      right: 1%;
      width: 10%;
      height: 120%;
      @media (max-width: em(920)) {
        display: none;
      }
    }
  }

  // .brands__item

  &__item {
  }
}
//=============================================
.services {
  @include adaptiveValue("padding-top", 60, 15);
  @include adaptiveValue("padding-bottom", 100, 15);
  // .services__container

  &__container {
    display: flex;
    @include adaptiveValue("column-gap", 100, 20, 1500, 992, 1);
    @media (max-width: $tablet) {
      flex-direction: column;
      row-gap: rem(20);
    }
  }

  // .services__content

  &__content {
    flex: 0 1 45%;
    @include adaptiveValue("column-gap", 100, 20);
    max-width: rem(550);
    margin: 0 auto;
    margin-top: rem(220);
    @media (max-width: $tablet) {
      margin-top: rem(20);
    }
  }

  // .services__btn

  &__btn {
    padding: rem(10) rem(20);
  }

  // .services__title

  &__title {
    color: #ffffff;
    margin-bottom: rem(15);
  }

  // .services__text

  &__text {
    margin-bottom: rem(30);
  }

  // .services__button

  &__button {
    padding: rem(18) rem(29);
  }

  // .services__link

  &__link {
  }

  // .services__tekhnologi

  &__tekhnologi {
    flex: 0 1 55%;
    max-width: rem(670);
    margin: 0 auto;
  }

  // .services__items

  &__items {
    display: flex;
    @include adaptiveValue("gap", 30, 10);
    @media (max-width: em(590)) {
      flex-direction: column;
    }
  }

  // .services__item

  &__item {
    padding: rem(55) rem(25);
    @media (max-width: $mobile) {
      padding: rem(25) rem(25);
    }
  }
}
.button {
}
.servis-item {
  background: rgba(129, 129, 139, 0.1);
  border-radius: 30px;
  // .servis-item__left

  &__left {
    display: flex;
    flex: 0 1 50%;
    gap: rem(30);
    flex-direction: column;
    margin-top: rem(45);
    @media (max-width: em(590)) {
      margin-top: rem(15);
      gap: rem(15);
    }
  }
  // .servis-item__right
  &__right {
    display: flex;
    flex: 0 1 50%;
    gap: rem(30);
    flex-direction: column;
    @media (max-width: em(590)) {
      gap: rem(15);
    }
  }
  // .servis-item__icon

  &__icon {
    width: rem(75);
    height: rem(75);
    margin-bottom: rem(15);
    & img {
      width: 100%;
      height: 100%;
    }
  }

  // .servis-item__subtitle

  &__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: rem(19);
    line-height: math.div(27, 19);
    color: #ffffff;
    margin-bottom: rem(10);
  }

  // .servis-item__text

  &__text {
    font-style: normal;
    font-weight: 300;
    line-height: math.div(24, 16);
    color: $mainColor;
  }
}
//=============================================
.help {
  @include adaptiveValue("padding-top", 90, 20);
  @include adaptiveValue("padding-bottom", 90, 20);
  // .help_container
  &__container {
    position: relative;
    display: flex;
    @include adaptiveValue("column-gap", 60, 20, 1500, 992, 1);
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      row-gap: rem(20);
    }
  }
  // .help_text

  &__text {
    @include adaptiveValue("margin-bottom", 40, 15);
  }

  // .help__media

  &__media {
    display: flex;
    justify-content: center;
    flex: 0 1 50%;
  }

  // .help__content

  &__content {
    flex: 0 1 50%;
    align-self: center;
  }

  // .help__button

  &__button {
    padding: rem(9) rem(21);
    @include adaptiveValue("margin-bottom", 40, 15);
  }

  // .help__title

  &__title {
    color: #ffffff;
    @include adaptiveValue("margin-bottom", 40, 15);
  }

  // .help__list

  &__list {
  }

  // .help__item

  &__item {
    position: relative;
    font-weight: 300;
    line-height: math.div(24, 16);
    color: $subTitleColor;
    padding-left: rem(40);
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
    &::before {
      content: "";
      position: absolute;
      background: rgba(129, 129, 139, 0.1) url("@img/icons/check.svg") center
        no-repeat;
      top: rem(-3);
      left: 0;
      width: rem(32);
      height: rem(32);
      border-radius: 50%;
    }
  }
}
.help-media {
  // .help-media__decor
  &__decor {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/main-decor.png");
      @include adaptiveValue("width", 120, 40);
      @include adaptiveValue("height", 120, 40);
      bottom: 0;
      left: 2%;
      @media (max-width: $mobile) {
        left: 8%;
      }
    }
  }
  // .help-media__image

  &__image {
    & img {
      max-width: 100%;
    }
    // align-items: end;
    &-1 {
      max-width: rem(423);
      border-radius: rem(680) 0 rem(378) rem(378);
      overflow: hidden;
    }
    &-2 {
      align-self: flex-end;
      border-radius: rem(180) rem(180) rem(180) 0;
      overflow: hidden;
    }
  }
}
//=============================================
.statistic {
  @include adaptiveValue("padding-top", 90, 20);
  @include adaptiveValue("padding-bottom", 90, 20);
  // .statistic__container

  &__container {
    display: flex;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  // .statistic__items

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex: 1 1 auto;
    align-self: center;
    @include adaptiveValue("gap", 30, 10, 1500, 768, 1);
    @include adaptiveValue("padding-right", 30, 10, 1500, 768, 1);
    @media (max-width: $mobile) {
      padding: 0 0 rem(20) 0;
    }
    @media (max-width: $mobileSmall) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(auto);
    }
  }

  // .statistic__item

  &__item {
    background: rgba(129, 129, 139, 0.1);
    border-radius: rem(30);
    @include adaptiveValue("padding", 30, 15, 1500, 768, 1);
    max-width: rem(360);
  }

  // .statistic__image

  &__image {
    flex: 0 0 38%;
    height: 100%;
    border-radius: 0 rem(378) rem(378) rem(378);
    overflow: hidden;
    align-self: flex-start;
    & img {
      max-width: 100%;
    }
    @media (max-width: $mobile) {
      align-self: center;
    }
  }
}
.statistic-item {
  // .statistic-item__title

  &__title {
    &:not(:last-child) {
      margin-bottom: em(30, 52);
    }
    font-weight: 500;
    @include adaptiveValue("font-size", 52, 30);
    font-size: rem(52);
    line-height: math.div(61, 52);
    color: #ffffff;
  }

  // .statistic-item__text

  &__text {
  }
}
